SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a15",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1911",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0511",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0521",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1521",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0531",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0551",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0561",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1561",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0512",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0522",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1522",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0532",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0552",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0916",ATTRS{idProduct}=="0552",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0562",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1562",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0513",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"


SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0515",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0525",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1525",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0535",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0555",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0565",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1565",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0817",ATTRS{idProduct}=="0555",GROUP="terry",MODE="0777"


SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0516",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0526",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1526",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0536",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0566",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1566",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="terry",MODE="0777"





SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0517",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0527",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1527",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0537",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0567",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1567",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1568",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1569",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1570",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1571",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1572",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1573",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0518",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0528",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0538",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0568",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0519",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0529",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0539",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0569",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="051a",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="052a",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053a",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056a",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="057a",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="051b",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="052b",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053b",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056b",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="057b",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053C",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056C",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0611",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0612",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0631",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0632",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0633",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0634",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0635",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0636",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0637",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0638",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1711",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1712",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1713",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1714",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1811",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1812",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1813",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1814",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1815",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1816",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1817",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1818",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1911",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1912",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1913",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1914",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0530",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0520",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1110",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="04B4",ATTRS{idProduct}=="8613",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a11",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a12",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a13",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a14",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a15",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a16",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a17",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a18",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a19",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1a",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1b",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1c",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1d",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1e",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1f",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a20",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a21",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a22",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a23",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a24",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1b11",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1b12",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a25",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a26",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a27",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a28",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a29",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2A",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2B",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2C",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D10",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D11",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c27",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c28",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c29",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c2A",GROUP="terry",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1A2D",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1A2E",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D12",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D13",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2f",GROUP="terry",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1d15",GROUP="terry",MODE="0777"
#ksj hub
SUBSYSTEM=="usb",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6001",GROUP="terry",MODE="0777"



